#home {
  font-family: "Work Sans";
}

.home-section {
  padding: 48px;
}

#home-intro {
  color: white;
  background-color: darkslateblue;
}

#home-intro-text {
  max-width: 800px;
}

a {
  color: whitesmoke;
}