#home {
  font-family: "Work Sans";
}

.home-section {
  padding: 24px;
}

#home-intro {
  color: white;
  background-color: darkslateblue;
}

#projects-header {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  color: darkslateblue;
}